* { border: 100ps solid red}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: grey;
  color: black;
}

 .nav-links{
   font-size: 20px;
   font-weight: bold;
   background-color: grey;
   list-style: none;
   justify-content: space-around;
   align-items: center;
   display: flex;
   width: 40%;
 }

 /*  recipe search results */

.recipe-search-result-component{
  display: flex;
  height: auto;
}

.recipe-search-result-container {
  display: flex;
  height: auto;
  background-color: rgb(235,235,235, 0.8);
  border-radius: 30px;
  margin: 50px;
  
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: .5s ease;
  flex-direction: column;
}

.recipe-search-result-container:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.recipe-search-result-container:hover > *{
  opacity: 0.4;
}


.recipe-search-result-component {
   flex: 1 0 21%;
}

.All_recipe_container {
  display: flex;
  flex-wrap: wrap;
}

.recipe-search-result-title {
  font-size: small;
  height: auto;
  width: auto;
}

.recipe-search-result-image {
  padding: 25px;
}

.recipe-search-result-calories {

}

.recipe-search-result-ingredients {
  padding: 25px;
  height: max-content;
  font-size: smaller;
  align-items: flex-end;
  height: auto;
  width: auto;
  text-align: left;
}

.more_search {
  padding-top: 40px;
}


/* Existing Recipe page */

.Existing-Recipe-Container {
  /* border-radius: 30px; */
 /* background-color: green; */
 height: auto;
 width: auto;
 display: flex;
 margin: 15px 200px 60px;
 border-radius: 30px;
 margin: 50px;
 
 box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.Existing-Recipe-Title {
  height: 50px;
  width: 450px;
  /* background-color: red; */
}

.Existing-Recipe-Calories {
  height: auto;
  width: auto;
}

.Existing-Recipe-Image {
  /* height: auto;
  width: auto; */
}

.Existing-Recipe-Ingredients {
  height: auto;
  width: 350px;
  /* background-color: purple; */
}

.Existing-Recipe-button {
  height: 100px;
  margin-top: 80px;
  background-color: lightblue;
}

/*  Meal Plan pages */


.Meal-Plan-Recipe-Component {
  background-color: white;
}

.Meal-Plan-Recipe-Container {
  background-color: honeydew;
  flex-wrap: wrap;
  flex-basis: 20%;
  display: flex;
  border: 60px;
  border-radius: 30px;
  margin: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: .5s ease; 
}

.Meal-Plan-Recipe-Container:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.Meal-Plan-Recipe-Date{
justify-content: left;
padding-left: 40px;
padding-right: 20px;
height: auto;
}

/* .Meal-Plan-Recipe-Title, .Meal-Plan-Recipe-Image {
 display: flex;
} */

.Meal-Plan-Recipe-Image {
width: 140px;
height: 140px;
/* padding-left: 60px; */
}

.Meal-Plan-Recipe-Ingredient {
margin-left: 60px;
font-size: smaller;
text-align: left;
}

/* Shopping list page */

/* .Shopping-List-Component{
  background-color: green;
} */
