* { border: 100ps solid red}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: grey;
  color: black;
}

 .nav-links{
   font-size: 20px;
   font-weight: bold;
   background-color: grey;
   list-style: none;
   justify-content: space-around;
   align-items: center;
   display: flex;
   width: 40%;
 }
 
.MealPlanPage {
  background-color: orange;
}
 
.recipe-search-result-component{
  display: flex;
  height: auto;
  width: 10px;
}

.recipe-search-result-container {
  display: flex;
  height: auto;
  background-color: rgb(235,235,235, 0.8);
  border-radius: 30px;
  margin: 50px;
  
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: .5s ease;
  flex-direction: column;
}

.recipe-search-result-container:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.recipe-search-result-container:hover > *{
  opacity: 0.4;
}


.recipe-search-result-component {
  /* justify-content: center;
  padding: 10px;
   */

}
/* ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

.All_recipe_container {
  /* margin-top: 20px;
  margin-bottom: 80px; 
  margin: auto;
  width: 80%;
  padding: 10px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative; */
}

.recipe-search-result-title {
  font-size: small;
  /* margin-left: 90px;
  justify-content: center; */
  height: 100px;
}

.recipe-search-result-image {
  padding: 25px;
}

.recipe-search-result-calories {

}

.recipe-search-result-ingredients {
  background-color: #6c757d;
  padding: 25px;
  height: max-content;
  font-size: x-small;
  align-items: flex-end;
}

.more_search {
  padding-top: 40px;
}
.mealPlanRecipeComponent {
}

.mealPlanRecipeContainer {
  background-color: honeydew;
  flex-wrap: wrap;
  flex-basis: 20%;
  display: flex;
  border: 60px;
  border-radius: 30px;
  margin: 50px;
  
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: .5s ease; 
}

.mealPlanRecipeContainer:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* .mealPlanRecipeContainer:hover > *{
  opacity: 0.4;
} */

/* .mealPlanRecipeContainer:hover > *:hover{
  opacity: 1;
} */

.mealPlanRecipeDate{
justify-content: left;
width: 20%;
margin-left: 90px;
margin-bottom: 10px;
}

.mealPlanRecipeTitle, .mealPlanRecipeImage {
 display: flex;
}

.mealPlanRecipeImage {
width: 140px;
height: 140px;
padding-left: 60px;
}

.mealPlanRecipeIngredient {
margin-left: 60px;
font-size: smaller;
}