.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: firebrick;
  color: black;
}

 .nav-links{
   font-size: 20px;
   font-weight: bold;
   background-color: firebrick;
   list-style: none;
   justify-content: space-around;
   align-items: center;
   display: flex;
   width: 40%;
 }
 
.recipe-component, .recipe-container {
  display: flex;
}

.recipe-component {
  justify-content: center;
  padding: 10px;
}

.recipe-container {
  background-color: rgb(235,235,235, 0.8);
}

.title-container {
  font-size: 30px;
  margin-left: 90px;
  justify-content: center;
}

.image {
  justify-content: left;
  width: 20%;
  margin-left: 90px;
  margin-bottom: 10px;
}

.calories {
}

.ingredients {
  background-color: #6c757d;
  margin-right: 25px;
  justify-content: space-between;
  display: flex;
  flex-direction: column; 
  width: 60%;
  padding: 25px;
}

.more_search {
  padding-top: 40px;
}
.mealPlanRecipeComponent {
  background-color: grey;
}

.mealPlanRecipeDate{
justify-content: left;
width: 20%;
margin-left: 90px;
margin-bottom: 10px;
}

.mealPlanRecipeTitle, .mealPlanRecipeImage {
position: relative;
bottom: 40px;
right: 240px;
}

.mealPlanRecipeImage {
width: 140px;
height: 140px;

}

.mealPlanRecipeIngredient {
  position: relative;
  bottom: 240px;
  left: 300px;
}