nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: firebrick;
  color: black;
}

 .nav-links{
   font-size: 20px;
   font-weight: bold;
   background-color: firebrick;
   list-style: none;
   justify-content: space-around;
   align-items: center;
   display: flex;
   width: 40%;
 }